$color-green-sea: #1ABC9C;
$color-light-grey: #ECF0F1;
$color-emeraud: #2ECC71;
$color-dark-grey: #95A5A6;
$color-black: #434242;
$color-red: #E74C3C;
$color-dark-blue: #34495E;
$color-blue: #2091DC;
$color-white: #ffffff;