.headline {
  font-family: 'Montserrat';
  font-weight: bold;
  margin: 0 auto;
}

.headline {
  &--big {
    font-size: 52px;
    padding-top: 30px;
    text-align: center;
    letter-spacing: 10px;
    line-height: 63px;
  }
  &--medium {
    font-size: 32px;
  }
  &--small {
    font-size: 25px;
  }
}

.paragraph {
  font-size: 15px;
  font-family: 'Poppins';
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding-top: 30px;
}
