.big-headline {
  font-size: 52px;
  font-family: 'Montserrat';
  font-weight: bold;
  margin: 0;

  padding-top: 30px;
  text-align: center;
}

.medium-headline {
  font-size: 32px;
  font-family: 'Montserrat';
  font-weight: bold;
  margin: 0;
}

.small-headline {
  font-size: 25px;
  font-family: 'Montserrat';
  font-weight: bold;
  margin: 0;
}

.paragraph {
  font-size: 15px;
  font-family: 'Poppins';
  font-weight: normal;
  text-align: center;
  margin: 0;
  width: 55%;
  padding-top: 30px;
}
