.main-header {
  background: url('../../img/hero.png') left 60% bottom 20% / cover no-repeat;

  .login {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .sign-up {
    padding: 180px 100px;
    h1 {
      font-family: 'Montserrat Bold';
      font-size: 42px;
      font-style: normal;
      color: #34495e;
    }
  }
  .explore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 60px;
    align-items: center;
  }
}
