.presentation {
  background-color: #2091dc;
  color: #ffffff;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 70px 219px;
  div {
    width: 30%;
    border: 5px solid white;
    padding: 10px 10px;
    text-align: center;
    margin-bottom: 20px;
    p {
      color: #ffffff;
      font-family: 'Montserrat';
      font-size: 25px;
      font-weight: bolder;
      margin: 0;
    }
  }
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5%;
}

.ecart {
  margin: 5%;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 80px 130px 0px;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;

  padding: 20px 170px 80px;
}

.services p {
  width: 19%;
  font-size: 18px;
}
