.btn-login {
  box-sizing: border-box;
  padding: 12px 60px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  color: #434242;
  text-align: center;
  font-weight: bold;
  border: 2px solid #34495e;
  border-radius: 27.5px;
  background-color: #ecf0f1;
}

.btn-signUp {
  background-color: #2091dc;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-weight: bold;
  border-radius: 27.5px;
  padding: 12px 30px;
  font-size: 16px;
}
