.btn {
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-weight: bold;
  border-radius: 27.5px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Montserrat';

  &--large {
      border: 2px solid $color-black;
      border-radius: 3px;
      color: $color-black;
      letter-spacing: 1px;
      vertical-align: middle;
      padding: 12px 40px;
      line-height: 19px;
    &--green {
      border: 2px solid $color-emeraud;
      background-color: $color-emeraud;
      color: $color-white;
    }
    &--green-sea {
      border: 2px solid $color-green-sea;
      color: $color-green-sea;
    }
    &--light-grey {
      border: 2px solid $color-light-grey;
      background-color: $color-light-grey;
      color: $color-black;
    }
  }
  &--rounded {
    border: 2px solid $color-black;
    color: $color-black;
    border-radius: 27.5px;
    letter-spacing: 1px;
    vertical-align: middle;
    padding: 12px 40px;
    &--green {
      border: 2px solid $color-emeraud;
      color: $color-emeraud;
    }
    &--light-grey {
      border: 2px solid $color-light-grey;
      background-color: $color-light-grey;}
  }
  &--login {
    padding: 12px 60px;
    color: $color-black;
    border: 2px solid $color-dark-blue;
    background-color: $color-light-grey;
  }
  &--signup {
    background-color: $color-blue;
    border: 2px solid $color-blue;
    color: $color-white;
    padding: 12px 30px;
  }
  &--explore {
    background: none;
    padding: 12px 40px;
    border: 2px solid $color-white;
    color: $color-white;
  }
}
