.btn {
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-weight: bold;
  border-radius: 27.5px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Montserrat';

  &--large {
    border: 2px solid #3b3b3b;
    border-radius: 3px;
    color: #434242;
    letter-spacing: 1px;
    line-height: 19px;
    vertical-align: middle;
    padding: 12px 40px;
    &--green {
      border: 2px solid #2ecc71;
      background-color: #2ecc71;
      color: #ffffff;
    }
  }
  &--login {
    padding: 12px 60px;
    color: #434242;
    border: 2px solid #34495e;
    background-color: #ecf0f1;
  }
  &--signup {
    background-color: #2091dc;
    border: 2px solid #2091dc;
    color: #ffffff;
    padding: 12px 30px;
  }
  &--explore {
    background: none;
    padding: 12px 40px;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
}
