.card {
  background-color: $color-white;
  width: 65%;
  text-align: center;
  box-shadow: 5px 13px 26px 6px rgba(88, 88, 88, 0.5);

  &--project, &--sprint, &--task {
    width: 95%;
  }
  &--home {
    padding: 120px 40px;
    .headline--medium {
      color: $color-green-sea;
    }
    p {
      padding-bottom: 30px;
    }
    .headline--small {
      width: 80%;
      font: 'Poppins bold';
      font-size: 18px;
      color: $color-black;
      margin: auto;
    }
  }
  &--form {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
}
