.NavigationItem {
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  a {
    color: #434242;
    text-decoration: none;

    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: bold;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    &:hover,
    &:active,
    &.active {
      border-bottom: 4px solid #40a4c8;
      color: #434242;
    }
  }
}

.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  nav {
    height: 100%;
  }
}

.Content {
  z-index: 99;
}
