.project {
	font: 'Montserrat';
	text-align: center;
	&--title {
		font-weight: bold;
		border: 1px solid;
		padding: 13.5px;
	}
	&--container {
		width: 33%;
		margin-bottom: 1.5rem;
		display: flex;
		justify-content: space-around;
	}
	&--content {
		width: 50%;
	}
	&--data ul {
		:first-child {
			padding-top: 1rem;
		}
		li {
			margin-bottom: 1rem;
		}
	}
}

.projects {
	justify-content: space-around;
	width: 100%;
	flex-direction: row;
	display: flex;
	padding-top: 100px;
	padding-bottom: 100px;
	&--container {
		width: 90%;
		flex-wrap: wrap;
		display: flex;
	}
}

.statut {
	background-color: $color-emeraud;
    // border-radius:50%;
    width: 20px;
    height: 20px;
	display: flex;
	&--red {
		background-color: $color-red;
	}
	&--emeraud {
		background-color: $color-emeraud;
	}
    @media(max-width:600px) {
        display:none;
    }
}

.lien-sprint{
	padding-bottom: 1rem;
	padding-top: 1rem;
	&:hover {
		cursor: pointer;
	}
}
